azure/logicapp.alert.definition.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_HTML_table": {
                "inputs": {
                    "columns": [
                        {
                            "header": "ratingId",
                            "value": "@item()?['id']"
                        },
                        {
                            "header": "sentimentScore",
                            "value": "@item()?['sentimentScore']"
                        }
                    ],
                    "format": "HTML",
                    "from": "@body('Query_documents_V2')?['Documents']"
                },
                "runAfter": {
                    "Query_documents_V2": [
                        "Succeeded"
                    ]
                },
                "type": "Table"
            },
            "Query_documents_V2": {
                "inputs": {
                    "body": {
                        "QueryText": "SELECT * FROM c WHERE c.sentimentScore <= 0.30 AND DateTimeDiff('minute', c.timestamp, GetCurrentDateTime()) <= 5 ORDER BY c.timestamp DESC OFFSET 0 LIMIT 5"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['documentdb']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/dbs/@{encodeURIComponent('default')}/colls/@{encodeURIComponent('ratings')}/query"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Send_an_email_(V2)": {
                "inputs": {
                    "body": {
                        "Body": "<p>@{body('Create_HTML_table')}</p>",
                        "Subject": "Ratings with low sentiment (last 5 minutes)",
                        "To": "youremail.address@yourdomain.com"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                },
                "runAfter": {
                    "Create_HTML_table": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "data": {
                                "properties": {
                                    "context": {
                                        "properties": {
                                            "activityLog": {
                                                "properties": {
                                                    "authorization": {
                                                        "properties": {
                                                            "action": {
                                                                "type": "string"
                                                            },
                                                            "scope": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "caller": {
                                                        "type": "string"
                                                    },
                                                    "channels": {
                                                        "type": "string"
                                                    },
                                                    "claims": {
                                                        "type": "string"
                                                    },
                                                    "correlationId": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "eventDataId": {
                                                        "type": "string"
                                                    },
                                                    "eventSource": {
                                                        "type": "string"
                                                    },
                                                    "eventTimestamp": {
                                                        "type": "string"
                                                    },
                                                    "level": {
                                                        "type": "string"
                                                    },
                                                    "operationId": {
                                                        "type": "string"
                                                    },
                                                    "operationName": {
                                                        "type": "string"
                                                    },
                                                    "resourceGroupName": {
                                                        "type": "string"
                                                    },
                                                    "resourceId": {
                                                        "type": "string"
                                                    },
                                                    "resourceProviderName": {
                                                        "type": "string"
                                                    },
                                                    "resourceType": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "subStatus": {
                                                        "type": "string"
                                                    },
                                                    "submissionTimestamp": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionId": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "properties": {
                                        "properties": {},
                                        "type": "object"
                                    },
                                    "status": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "schemaId": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "documentdb": {
                    "connectionId": "/subscriptions/<subscriptionid>/resourceGroups/oh-challenger-24-1/providers/Microsoft.Web/connections/documentdb",
                    "connectionName": "documentdb",
                    "id": "/subscriptions/<subscriptionid>/providers/Microsoft.Web/locations/eastus2/managedApis/documentdb"
                },
                "office365": {
                    "connectionId": "/subscriptions/<subscriptionid>/resourceGroups/oh-challenger-24-1/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "id": "/subscriptions/<subscriptionid>/providers/Microsoft.Web/locations/eastus2/managedApis/office365"
                }
            }
        }
    }
}